<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Listado de Empleados</span>
            <button class="btn btn-dark float-end" routerLink="/crear-empleado" >Agregar</button>

            <table class="table mt-4 table-striped">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Rut</th>
                    <th>Sueldo</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of empleados">
                    <td>{{i.nombre}}</td>
                    <td>{{i.apellido}}</td>
                    <td>{{i.rut}}</td>
                    <td>{{i.sueldo}}</td>
                    <td>
                        <i [routerLink]="['/editar-empleado/',i.id]" class="fas fa-user-edit fa-lg text-info me-4"></i>
                        <i (click)="eliminarEmpleado(i.id)" class="fas fa-user-times fa-lg text-danger"></i>
                    </td>
                  </tr>
                  
                </tbody>
              </table>

        </div>
    </div>
</div>