<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Listado de Empleados</span>
            <button class="btn btn-dark float-end" routerLink="/crear-empleado" >Agregar</button>

            <table class="table mt-4 table-striped">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Rut</th>
                    <th>Sueldo</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>17379410</td>
                    <td>100000</td>
                    <td>
                        <i class="fas fa-user-edit fa-lg text-info me-4"></i>
                        <i class="fas fa-user-times fa-lg text-danger"></i>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
        </div>
    </div>
</div>